{% extends 'base.html' %}
{% set messages = get_flashed_messages(with_categories=True) %}

{% block content %}

    <div class="container mt-3">

        <form action="" method="POST" enctype="multipart/form-data" role="form" class="col-md-4 offset-4">
            {{ form.csrf_token }}
            <h2 class="text-center mb-5">Новый пароль</h2>
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %}


            {% for field in (form.password, form.password2) %}
                <div class="form-group">

                    {{ field.label(class='mb-2') }}
                    <div class="input-group mb-4">
                        {{ field(class="form-control input-md", placeholder="Пароль...", aria_describedby="eye"~loop.index) }}

                        <i class="bi bi-eye-slash input-group-text" id="eye{{ loop.index }}"></i>
                        {% for error in field.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                    </div>

                </div>

            {% endfor %}
            <div class="form-group d-flex justify-content-center">
                <input type="submit" class="btn btn-success col-md-5" value="Задать новый пароль">
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/password_btn_changer.js') }}"></script>

{% endblock %}