{% extends 'base.html' %}

{% set messages = get_flashed_messages(with_categories=true) %}
{% block content %}
    <div class="container">

        <form action="" method="POST" enctype="multipart/form-data" role="form" class="col-md-4 offset-4">
            {{ form.csrf_token }}
            <h2 class="text-center mb-5">Восстановление пароля</h2>
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %}


            <div class="form-group">

                <div class="alert alert-info" role="alert">Чтобы сменить пароль введите email, на котором вы
                    зарегистрировали ваш аккаунт, мы пришлем на него письмо о сбросе пароля
                </div>


                {{ form.email.label(class="mb-2") }}
                <div class="input-group mb-4">
                    {{ form.email(class="form-control", placeholder="Введите адрес вашей электронной почты...", aria_describedby="email-sign") }}
                    <span class="input-group-text" id="email-sign">@</span>
                    {% for error in form.email.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

            </div>


            <div class="form-group d-flex justify-content-center">
                <input type="submit" class="btn btn-primary col-md-4" value="Отправить">
            </div>

            <div class="mt-5 text-center">Еще не зарегистрированы? <a href="{{ url_for('accounts.register') }}">Зарегистрироваться</a>
            </div>
        </form>

    </div>
    <script src="{{ url_for('static', filename='js/password_btn_changer.js') }}"></script>
{% endblock %}