{% extends 'base.html' %}

{% set messages = get_flashed_messages() %}
{% block content %}
    <div class="container">

        <form action="" method="POST" enctype="multipart/form-data" role="form" class="col-md-4 offset-4">
            <h2 class="text-center mb-5">Войти</h2>

            <div class="form-group">
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                {% endfor %}

                <label for="email-inp" class="mb-2">Эл. Почта: </label>
                <div class="input-group mb-4">

                    <input type="email" name="email" class="form-control" id="email-inp"
                           placeholder="Введите адрес вашей электронной почты..." aria-describedby="email-sign"
                           required>
                    <span class="input-group-text" id="email-sign">@</span>
                </div>

            </div>

            <div class="form-group">

                <label for="password-inp" class="mb-2">Пароль: </label>
                <div class="input-group mb-4">

                    <input type="password" name="password" class="form-control input-md " id="password-inp"
                           placeholder="Ваш пароль..." aria-describedby="eye"
                           {% if password %}value={{ password }}{% endif %}>
                    <i class="bi bi-eye-slash input-group-text" id="eye"></i>
                </div>

            </div>

            <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" value="1" id="remember_me" name="remember" checked>
                <label class="form-check-label" for="remember_me">
                    Запомнить меня
                </label>
            </div>

            <div class="form-group d-flex justify-content-center">
                <input type="submit" class="btn btn-primary col-md-4" value="Войти">
            </div>

            <div class="mt-5 text-center">Еще не зарегистрированы? <a href="{{ url_for('register') }}">Зарегистрироваться</a>
            </div>
        </form>

    </div>
    <script src="{{ url_for('static', filename='js/password_btn_changer.js') }}"></script>
{% endblock %}