{% extends 'base.html' %}

{% set messages = get_flashed_messages(with_categories=true) %}
{% block content %}
    <div class="container">

        <form action="" method="POST" enctype="multipart/form-data" role="form" class="col-md-4 offset-4">
            <h2 class="text-center mb-5">Восстановление пароля</h2>
            {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                {% endfor %}
            <div class="form-group">

                <div class="alert alert-info" role="alert">Чтобы сменить пароль введите email, на котором вы
                    зарегистрировали ваш аккаунт, мы пришлем на него письмо о сбросе пароля
                </div>


                <label for="email-inp" class="mb-2">Эл. Почта: </label>
                <div class="input-group mb-4">

                    <input type="email" name="email" class="form-control" id="email-inp"
                           placeholder="Введите адрес вашей электронной почты..." aria-describedby="email-sign"
                           required>
                    <span class="input-group-text" id="email-sign">@</span>
                </div>

            </div>


            <div class="form-group d-flex justify-content-center">
                <input type="submit" class="btn btn-primary col-md-4" value="Отправить">
            </div>

            <div class="mt-5 text-center">Еще не зарегистрированы? <a href="{{ url_for('register') }}">Зарегистрироваться</a>
            </div>
        </form>

    </div>
    <script src="{{ url_for('static', filename='js/password_btn_changer.js') }}"></script>
{% endblock %}