<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля на "Проекты 567"</title>
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

</head>
<body>
    <div class="container">

        <img src="{{ url_for('static', filename="images/567logo.jpg", _external=True) }}" alt="Проекты 567" width="50">
        <p>Для сброса пароля перейдите по ссылке:</p>
        <a href="{{ link }}" class="btn btn-success w-50 mx-auto">Сбросить</a>
    </div>
</body>
</html>